body {
    background-color: #222222;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    color: white;
    margin: 0;
}

.mainCanvas {
    position: fixed;
    top: 60px;
    z-index: 2;
    pointer-events: none;
}

.controlsContainer {
    position: fixed;
    width: 100%;
    height: 40px;
    padding: 10px;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #111111;
    z-index: 100;
}

.controlsContainer > div {
    display: flex;
    flex-direction: column;
}

.description {
    margin: 0 12px;
}

.connectDisconnectButton {
    width: 200px;
    height: 100%;
    margin: 0 12px;
}

.toggleInputMuteButton,
.toggleOutputMuteButton {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin: 0 12px;
}

.toggleInputMuteButton:hover,
.toggleOutputMuteButton:hover {
    cursor: pointer;
}

.toggleInputMuteButton {
    background-image: url('/spatial-speaker-space/images/white-mic.svg');
}

.toggleInputMuteButton--muted {
    background-image: url('/spatial-speaker-space/images/red-mic-with-cross.svg');
}

.toggleInputMuteButton--disabled {
    background-image: url('/spatial-speaker-space/images/grey-mic.svg');
}

.toggleOutputMuteButton {
    background-image: url('/spatial-speaker-space/images/white-headphones.svg');
}

.toggleOutputMuteButton--muted {
    background-image: url('/spatial-speaker-space/images/red-headphones-with-x.svg');
}

.participantsFAB {
    display: flex;
    position: fixed;
    bottom: 12px;
    right: 12px;
    width: 56px;
    height: 56px;
    border-radius: 56px;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: center center;
    background-color: #000000;
    background-image: url('/spatial-speaker-space/images/people.svg');
    justify-content: center;
    align-items: flex-end;
}

.participantsFAB:hover {
    cursor: pointer;
}

.numParticipants {
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    user-select: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 20px;
    background-color: #000000;
    border-radius: 20px;
    height: 20px;
    position: relative;
    top: 8px;
}

.participantsContainer {
    width: 200px;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 80px;
    right: 12px;
    background-color: #030303;
    color: white;
    padding: 12px;
}

.displayNone {
    display: none;
}
